
<!-- APP -> COMPONENTE PRINCIPAL -> SPA
  - COMPONENTES QUE SE VAN A VER TODO EL TIEMPO EN LA APLICACIÓN
  - Navegación
  - Footer
 
-->



<h1>HOLA, ACÁ INICIA NUESTRO PROCESO CON ANGULAR</h1>
<h2>Bienvenidos, espero que lo disfruten</h2>

<hr>

<app-navegacion></app-navegacion>



<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quisquam voluptatibus nulla error harum obcaecati perferendis, facere enim laborum veritatis. Aliquam, sed beatae! Ullam laudantium facilis assumenda! Fugiat, tempora nobis?</p>




<!-- <router-outlet /> -->